{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{forms.as_p}}
    <input type="submit">
</form>
<script>
    // Get references to the name and slug input fields
    const nameInput = document.getElementById('name');
    const slugInput = document.getElementById('slug');

    // Function to update the slug field based on the name field
    const updateSlug = () => {
        const nameValue = nameInput.value.trim().toLowerCase(); // Get the trimmed and lowercased movie name
        const slugValue = nameValue.replace(/\s+/g, '-'); // Replace spaces with hyphens
        slugInput.value = slugValue; // Update the slug field value
    };

    // Add event listener to the name field to update the slug field whenever the name changes
    nameInput.addEventListener('input', updateSlug);
</script>
{% endblock %}
